name: Diabetes Model CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-train:
    runs-on: ubuntu-latest
    
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12' 

    - name: Install Dependencies
      run: |
        pip install mlflow pandas scikit-learn dagshub

    - name: Run Training Experiment
      run: | 
      
    - name: Run Training Experiment
      run: | 
        mlflow run . --env-manager=local
